@use "base/variables.scss";
@use "base/mixins.scss" as *;

.additionally {
  padding-top: 7px;
  padding-bottom: 36px;

  @media (min-width: variables.$width-tablet) {
    padding-top: 41px;
    padding-bottom: 74px;
  }

  @media (min-width: variables.$width-desktop) {
    padding-top: 46px;
    padding-bottom: 16px;
  }
}

.additionally__title {
  font-family: variables.$oswald-font;
  font-size: 24px;
  line-height: 24px;
  color: variables.$color-black;
  font-weight: 400;
  background-color: variables.$color-white;
  display: inline-block;
  padding: 0 20px;
  margin-left: -20px;
  margin-bottom: 34px;

  @media (min-width: variables.$width-tablet) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    margin-left: 3px;
    padding: 0 36px;
  }

  @media (min-width: variables.$width-desktop) {
    margin-left: -36px;
  }
}

.additionally__list {
  @include list;
  margin-bottom: 34px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: variables.$width-tablet) {
    margin-bottom: 71px;
    border-bottom: none;
  }
}

.additionally__wrapper-desk {
  @media (min-width: variables.$width-desktop) {
    display: grid;
    grid-template-columns: 896px 245px;
    gap: 80px;
  }
}

.additionally__button {
  @media (min-width: variables.$width-tablet) {
    width: 632px;
    margin: 0 auto;
  }

  @media (min-width: variables.$width-desktop) {
    width: 244px;
    margin-left: 33px;
  }
}
