@use "base/variables.scss";

.additionally-card {
  border-top: 1px solid #cdcdcd;
  margin-bottom: 19px;

  @media (min-width: variables.$width-desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.additionally-card__wrapper {
  @media (min-width: variables.$width-tablet) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: variables.$width-desktop) {
    width: 566px;
  }
}

.additionally-card__title {
  font-family: variables.$oswald-font;
  font-size: 16px;
  line-height: 16px;
  color: variables.$color-black-lighter;
  font-weight: 400;
  text-transform: uppercase;
}

.additionally-card__item {
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;

  @media (min-width: variables.$width-tablet) {
    display: grid;
    grid-template-columns: 235px 91px;
    justify-items: right;
  }

  @media (min-width: variables.$width-desktop) {
    justify-items: left;
  }
}

.additionally__button {
  @media (min-width: variables.$width-desktop) {
    width: 244px;
  }
}
