@use "base/variables.scss";

.additionally-card {
  border-top: 1px solid variables.$color-border;
  margin-bottom: 18px;

  @media (min-width: variables.$width-tablet) {
    margin-bottom: 0;
    padding-bottom: 26px;
    border: 1px solid #cdcdcd;
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid variables.$color-border;
    }
  }

  @media (min-width: variables.$width-desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    margin-bottom: -7px;
    padding-bottom: 23px;
    border: none;
    border-top: 1px solid #cdcdcd;
  }
}

.additionally-card__wrapper {
  @media (min-width: variables.$width-tablet) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
    margin-top: 26px;
    padding: 0 39px;
  }

  @media (min-width: variables.$width-desktop) {
    width: 618px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }
}

.additionally-card__title {
  font-family: variables.$oswald-font;
  font-size: 16px;
  line-height: 16px;
  color: variables.$color-black-lighter;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
  padding-top: 13px;

  @media (min-width: variables.$width-tablet) {
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    margin: 0;
  }
}

.additionally-card__item {
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: variables.$width-tablet) {
    font-size: 16px;
    line-height: 20px;
    display: grid;
    grid-template-columns: 235px 91px;
    justify-items: right;
    margin: 0;
    padding-top: 3px;
  }

  @media (min-width: variables.$width-desktop) {
    justify-items: left;
    grid-template-columns: 203px 89px;
  }
}
