@use "base/variables.scss";

.additionally-card {
  border-top: 1px solid #cdcdcd;
  margin-bottom: 19px;

  @media (min-width: variables.$width-desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
  }
}

.additionally-card__wrapper {
  @media (min-width: variables.$width-tablet) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 26px;
  }

  @media (min-width: variables.$width-desktop) {
    width: 566px;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.additionally-card__title {
  font-family: variables.$oswald-font;
  font-size: 16px;
  line-height: 16px;
  color: variables.$color-black-lighter;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
  padding-top: 13px;

  @media (min-width: variables.$width-tablet) {
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    margin: 0;
  }
}

.additionally-card__item {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: variables.$width-tablet) {
    display: grid;
    grid-template-columns: 235px 91px;
    justify-items: right;
    margin: 0;
  }

  @media (min-width: variables.$width-desktop) {
    justify-items: left;
  }
}

.additionally__button {
  @media (min-width: variables.$width-desktop) {
    width: 244px;
  }
}
