@use "base/variables.scss";
@use "base/mixins.scss" as *;

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  width: 140px;

  @media (min-width: variables.$width-tablet) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 157px;
  }

  @media (min-width: variables.$width-desktop) {
    text-align: left;
  }
}

.address__street {
  margin: 0;

  @media (min-width: variables.$width-tablet) {
    margin-bottom: 19px;
  }
}

.address__city {
  margin: 0;
}
