@use "base/variables.scss";

.button {
  font-family: variables.$oswald-font;
  font-size: 16px;
  line-height: 20px;
  background-color: variables.$color-green;
  color: variables.$color-white;
  text-transform: uppercase;
  padding: 10px 10px;
  text-align: center;
  display: block;

  &--small {
    font-size: 16px;
    line-height: 20px;

    @media (min-width: variables.$width-tablet) {
      font-size: 20px;
      line-height: 26px;
      padding: 14px 26px;
    }
  }

  &--catalog-card {
    margin: 0 auto;
    width: 280px;

    @media (min-width: variables.$width-tablet) {
      width: 250px;
    }

    @media (min-width: variables.$width-desktop) {
      width: 169px;
    }
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--grey {
  background-color: variables.$color-grey-light;
  color: variables.$color-grey-dark;

  &:hover {
    background-color: variables.$color-card-border;
    opacity: 1;
  }

  &:active {
    background-color: variables.$color-card-border;
    color: variables.$color-grey-dark;
  }
}
