@use "base/variables.scss";

.button {
  font-family: variables.$oswald-font;
  font-size: 16px;
  line-height: 20px;
  background-color: variables.$color-green;
  color: variables.$color-white;
  text-transform: uppercase;
  padding: 10px 10px;
  text-align: center;
  display: block;


  &--small {
    font-size: 14px;
    line-height: 18px;

    @media (min-width: variables.$width-tablet) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &--grey {
    background-color: variables.$color-grey-light;
    color: variables.$color-grey-dark;
  }

  &--catalog-card {
    width: 280px;

    @media (min-width: variables.$width-tablet) {
      width: 250px;
    }

    @media (min-width: variables.$width-desktop) {
      width: 169px;
    }
  }
}
