@use "base/variables.scss";

.catalog-card {
  border-top: 1px solid variables.$color-card-border;
  padding: 22px 0 23px;

  @media (min-width: variables.$width-tablet) {
    border-top: none;
    padding: 0;
  }
}

.catalog-card__title {
  font-size: 16px;
  line-height: 20px;
  font-family: variables.$oswald-font;
  font-weight: 400;
  color: variables.$color-black-lighter;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: variables.$width-tablet) {
    text-align: center;
    width: 135px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: variables.$width-desktop) {
    width: 133px;
  }
}

.catalog-card__list {
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: variables.$width-tablet) {
    margin-bottom: 26px;
  }

  @media (min-width: variables.$width-desktop) {
    margin-bottom: 29px;
  }
}

.catalog-card__item {
  font-size: 12px;
  line-height: 16px;
  width: 140px;
  display: flex;
  justify-content: space-between;

  @media (min-width: variables.$width-tablet) {
    border-bottom: 1px solid #cdcdcd;
    width: 250px;
    padding-bottom: 5px;
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: variables.$width-desktop) {
    border-bottom: 1px solid #cdcdcd;
    width: 169px;
    padding-bottom: 6px;
  }
}

.catalog-card--more {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;

  @media (min-width: variables.$width-tablet) {
    margin: 0 auto;
    width: 324px;
  }

  @media (min-width: variables.$width-desktop) {
    width: 245px;
  }
}

.catalog-card__text--more {
  font-size: 16px;
  line-height: 20px;
  font-family: variables.$oswald-font;
  color: variables.$color-black-light;
  text-transform: uppercase;
  margin: 0 38px 8px;

  @media (min-width: variables.$width-tablet) {
    font-size: 20px;
    line-height: 24px;
    padding: 0 55px;
    margin-bottom: 23px;
  }

  @media (min-width: variables.$width-desktop) {
    padding: 0 15px;
    margin-bottom: 26px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 19px;
    left: 125px;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    transform: rotate(90deg);

    @media (min-width: variables.$width-tablet) {
      width: 60px;
      top: 80px;
      left: 133px;
    }

    @media (min-width: variables.$width-desktop) {
      top: 77px;
      left: 93px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 19px;
    left: 125px;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    transform: rotate(180deg);

    @media (min-width: variables.$width-tablet) {
      width: 60px;
      top: 80px;
      left: 132px;
    }

    @media (min-width: variables.$width-desktop) {
      top: 77px;
      left: 92px;
    }
  }
}

.catalog-card__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: variables.$width-tablet) {
    width: 324px;
    justify-content: center;
    background-image: linear-gradient(variables.$color-white 82px, variables.$color-grey-light 82px);
    padding: 13px 37px 40px;
  }

  @media (min-width: variables.$width-desktop) {
    width: 245px;
    padding: 11px 38px 40px;
  }

  &--more {
    position: relative;
    display: block;
    text-align: center;
    padding-top: 58px;
    background-image: none;

    @media (min-width: variables.$width-tablet) {
      height: 429px;
      padding: 160px 0 40px;
      border: 1px solid variables.$color-card-border;
    }

    @media (min-width: variables.$width-desktop) {
      height: 431px;
      padding: 150px 0 40px;
    }
  }
}

.catalog-card__wrapper-text {
  @media (min-width: variables.$width-tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.catalog-card__description {
  text-align: right;
  margin: 0;

  &--more {
    font-size: 12px;
    line-height: 16px;
    margin: 0 30px 21px;
    text-align: center;

    @media (min-width: variables.$width-tablet) {
      font-size: 16px;
      line-height: 18px;
      padding: 0 45px;
      margin-bottom: 82px;
    }

    @media (min-width: variables.$width-desktop) {
      padding: 0 5px;
      margin-bottom: 90px;
    }
  }
}

.catalog-card__link {
  display: block;

  &--title {
    width: 96px;
    margin-bottom: 14px;

    @media (min-width: variables.$width-tablet) {
      width: 135px;
      margin-bottom: 19px;
    }

    @media (min-width: variables.$width-desktop) {
      margin-bottom: 23px;
    }
  }

  &--more {
    width: 280px;
    text-align: center;
    margin: 0 auto;

    @media (min-width: variables.$width-tablet) {
      width: 250px;
    }

    @media (min-width: variables.$width-desktop) {
      width: 169px;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }

  &--img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 107px;

    @media (min-width: variables.$width-tablet) {
      width: 200px;
      height: 210px;
      margin-bottom: 20px;
    }

    @media (min-width: variables.$width-desktop) {
      margin-bottom: 11px;
    }
  }
}
