@use "base/variables.scss";

.catalog-card {
  font-size: 16px;
  line-height: 20px;
  border-top: 1px solid variables.$color-card-border;
  padding: 25px 0;

  @media (min-width: variables.$width-tablet) {
    border-top: none;
  }
}

.catalog-card__title {
  font-family: variables.$oswald-font;
  font-weight: 400;
  color: variables.$color-black-lighter;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: variables.$width-tablet) {
    text-align: center;
    width: 130px;
  }
}

.catalog-card__item {
  font-size: 12px;
  line-height: 16px;
  width: 140px;
  display: flex;
  justify-content: space-between;

  @media (min-width: variables.$width-tablet) {
    border-bottom: 1px solid #cdcdcd;
    width: 250px;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  @media (min-width: variables.$width-tablet) {
    border-bottom: 1px solid #cdcdcd;
    width: 169px;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}

.catalog-card__wrapper--more {
  display: block;
  text-align: center;
  padding-top: 78px;

  @media (min-width: variables.$width-tablet) {
    padding: 154px 0 40px;
    border: 1px solid variables.$color-card-border;
  }

  @media (min-width: variables.$width-tablet) {
    padding: 146px 21px 40px;
    border: 1px solid variables.$color-card-border;
  }
}

.catalog-card--more {
  position: relative;
}

.catalog-card__text--more {
  font-family: variables.$oswald-font;
  color: variables.$color-black-light;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    top: 47px;
    left: 144px;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    transform: rotate(90deg);

    @media (min-width: variables.$width-tablet) {
      width: 60px;
      top: 100px;
    }

    @media (min-width: variables.$width-desktop) {
      top: 119px;
      left: 96px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 47px;
    left: 144px;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    transform: rotate(180deg);

    @media (min-width: variables.$width-tablet) {
      width: 60px;
      top: 100px;
    }

    @media (min-width: variables.$width-desktop) {
      top: 119px;
      left: 96px;
    }
  }
}

.catalog-card__description--more {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;
  text-align: center;
}

.catalog-card__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: variables.$width-tablet) {
    width: 324px;
    justify-content: center;
    background-image: linear-gradient(variables.$color-white 30%, variables.$color-grey-light 30%);
    padding: 0 37px 54px;
  }

  @media (min-width: variables.$width-desktop) {
    width: 245px;
    padding: 40px 38px;
  }
}

.catalog-card__description {
  text-align: right;
  margin: 0;
}

.button--catalog-card {
  margin: 0 auto;
}

.catalog-card__link {
  display: block;
  margin: 0 auto;

  &--title {
    width: 96px;

    @media (min-width: variables.$width-tablet) {
      width: 135px;
    }
  }

  &--more {
    width: 280px;
    text-align: center;
    margin: 0 auto;

    @media (min-width: variables.$width-tablet) {
      width: 250px;
    }

    @media (min-width: variables.$width-desktop) {
      width: 169px;
    }
  }
}
