@use "base/variables.scss";

.catalog-card {
  font-size: 16px;
  line-height: 20px;
  border-top: 1px solid variables.$color-card-border;
  margin-top: 25px;

  @media (min-width: variables.$width-tablet) {
    background-image: linear-gradient(variables.$color-white 30%, variables.$color-grey-light 30%);
    border-top: none;
  }
}

.catalog-card__title {
  font-family: variables.$oswald-font;
  font-weight: 400;
  color: variables.$color-black-lighter;
  text-transform: uppercase;
}

.catalog-card__item {
  font-size: 12px;
  line-height: 16px;
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.catalog-card__wrapper--more {
  display: block;
  text-align: center;
  padding-top: 78px;
}

.catalog-card--more {
  position: relative;
}

.catalog-card__text--more {
  font-family: variables.$oswald-font;
  color: variables.$color-black-light;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    top: 47px;
    left: 144px;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    transform: rotate(90deg);
  }

  &::after {
    position: absolute;
    content: "";
    top: 47px;
    left: 144px;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    transform: rotate(180deg);
  }
}

.catalog-card__description--more {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;
  text-align: center;
}

.catalog-card__wrapper {
  width: 280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  @media (min-width: variables.$width-tablet) {
    width: 324px;
  }

  @media (min-width: variables.$width-desktop) {
    width: 245px;
  }
}

.catalog-card__description {
  text-align: right;
  margin: 0;
}

.button--catalog-card {
  margin: 0 auto;
}

.catalog-card__link {
  display: block;
}
