@use "base/variables.scss";
@use "base/mixins.scss" as *;

.catalog__list {
  @include list;

  @media (min-width: variables.$width-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: variables.$width-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
}
