@use "base/variables.scss";
@use "base/mixins.scss" as *;

.catalog__list {
  @include list;
  padding-top: 41px;

  @media (min-width: variables.$width-tablet) {
    padding: 84px 30px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin: 0 auto;
  }

  @media (min-width: variables.$width-desktop) {
    width: 1300px;
    padding: 74px 40px 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}
