@use "base/variables.scss";
@use "base/mixins.scss" as *;

.container {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: variables.$width-tablet) {
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: variables.$width-desktop) {
    width: 1300px;
    padding: 0 40px;
  }

  &--form {
    @media (min-width: variables.$width-tablet) {
      padding: 0 70px;
    }

    @media (min-width: variables.$width-desktop) {
      padding: 0 40px;
    }
  }

  &--footer-desk {
    @media (min-width: variables.$width-desktop) {
      width: 565px;
      padding: 60px 80px;
    }
  }
}
