@use "base/variables.scss";

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  font-size: 16px;
  line-height: 20px;
  color: variables.$color-grey-dark;

  @media (min-width: variables.$width-tablet) {
    margin-right: 23px;
  }
}
