@use "base/variables.scss";

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  font-size: 16px;
  line-height: 20px;
  color: variables.$color-grey-dark;

  @media (min-width: variables.$width-tablet) {
    margin-right: 23px;
  }
}

.copyright__icon {
  fill: #666666;
}

.copyright:hover .copyright__icon {
  fill: variables.$color-green;
}

.copyright:active .copyright__icon {
  fill: variables.$color-green;
  opacity: 0.3;
}
