@use "base/variables.scss";
@use "base/mixins.scss" as *;

.example {
  background-color: variables.$color-background-grey;
  padding-top: 20px;

  @media (min-width: variables.$width-tablet) {
    border-top: 1px solid variables.$color-card-border;
    background-image: linear-gradient(to bottom, variables.$color-white, variables.$color-white 60%, variables.$color-background-grey 60%);
  }

  @media (min-width: variables.$width-desktop) {
    border-top: none;
    background-image: linear-gradient(to bottom, variables.$color-white, variables.$color-white 20%, variables.$color-background-grey 20%);
    padding-bottom: 75px;
  }
}

.example__title {
  font-family: variables.$oswald-font;
  font-size: 36px;
  line-height: 40px;
  color: variables.$color-black;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: variables.$width-tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: variables.$width-desktop) {
    margin-bottom: 146px;
  }
}

.example__price {
  font-family: variables.$oswald-font;
  font-size: 14px;
  line-height: 20px;
  color: variables.$color-black;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;

  @media (min-width: variables.$width-tablet) {
    font-size: 20px;
    line-height: 20px;
    width: 174px;
    text-align: right;
    margin-top: 0;
    margin-left: auto;
  }

  @media (min-width: variables.$width-desktop) {
    margin: 0;
    width: 327px;
    text-align: left;
  }
}

.example__list {
  @media (min-width: variables.$width-tablet) {
    font-size: 20px;
    margin-left: 32px;
  }

  @media (min-width: variables.$width-desktop) {
    margin-bottom: 60px;
  }
}

.example__description {
  margin-bottom: 20px;

  @media (min-width: variables.$width-tablet) {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: variables.$width-desktop) {
    margin: 0 346px 69px 0;
  }
}

.example__container {
  @media (min-width: variables.$width-tablet) {
    display: flex;
    align-items: center;
    margin-bottom: 99px;
  }

  @media (min-width: variables.$width-desktop) {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }
}

.example__wrapper {
  @media (min-width: variables.$width-desktop) {
    display: grid;
    grid-template-columns: 1fr 560px;
  }
}

.example__span {
  @media (min-width: variables.$width-desktop) {
    margin-left: 61px;
  }
}
