@use "base/variables.scss";
@use "base/mixins.scss" as *;

.example {
  background-color: variables.$color-background-grey;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: variables.$width-tablet) {
    border-top: 1px solid variables.$color-card-border;
    background-image: linear-gradient(to bottom, variables.$color-white, variables.$color-white 620px, variables.$color-background-grey 620px);
    padding-bottom: 100px;
    padding-top: 44px;
  }

  @media (min-width: variables.$width-desktop) {
    border-top: none;
    background-image: linear-gradient(to bottom, variables.$color-white, variables.$color-white 159px, variables.$color-grey-light 159px);
    padding-bottom: 6px;
    padding-top: 23px;
  }
}

.example__title {
  font-family: variables.$oswald-font;
  font-size: 36px;
  line-height: 40px;
  color: variables.$color-black;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: variables.$width-tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: variables.$width-desktop) {
    margin-bottom: 145px;
  }
}

.example__price {
  font-family: variables.$oswald-font;
  font-size: 14px;
  line-height: 20px;
  color: variables.$color-black;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: variables.$width-tablet) {
    font-size: 20px;
    line-height: 20px;
    width: 174px;
    text-align: right;
    margin-top: 13px;
    margin-left: auto;
  }

  @media (min-width: variables.$width-desktop) {
    margin: 0;
    width: 327px;
    text-align: left;
  }
}

.example__list {
  @media (min-width: variables.$width-tablet) {
    font-size: 20px;
    margin-left: 32px;
  }

  @media (min-width: variables.$width-desktop) {
    margin-bottom: 60px;
  }
}

.example__description {
  margin-bottom: 20px;

  @media (min-width: variables.$width-tablet) {
    margin-bottom: 54px;
  }

  @media (min-width: variables.$width-desktop) {
    margin: 0 227px 69px 0;
  }
}

.example__description br {
  display: none;

  @media (min-width: variables.$width-tablet) {
    display: block;
  }

  @media (min-width: variables.$width-desktop) {
    display: none;
  }
}

.example__container {
  @media (min-width: variables.$width-tablet) {
    display: flex;
    margin-bottom: 69px;
  }

  @media (min-width: variables.$width-desktop) {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }
}

.example__wrapper {
  @media (min-width: variables.$width-desktop) {
    display: grid;
    grid-template-columns: 1fr 560px;
  }
}

.example__span {
  @media (min-width: variables.$width-tablet) {
    display: block;
    margin-top: 7px;
  }

  @media (min-width: variables.$width-desktop) {
    display: inline;
    margin-top: 0;
    margin-left: 61px;
  }
}
