@use "base/variables.scss";

.filter {
  padding-top: 28px;
  padding-bottom: 19px;

  @media (min-width: variables.$width-tablet) {
    padding-top: 50px;
    padding-bottom: 38px;
  }

  @media (min-width: variables.$width-desktop) {
    padding-top: 189px;
    padding-bottom: 58px;
  }
}

.filter__text {
  font-family: variables.$oswald-font;
  color: variables.$color-black;
  text-transform: uppercase;
  margin: 0 50px 39px 0;

  @media (min-width: variables.$width-tablet) {
    margin: 0 345px 65px 40px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: variables.$width-desktop) {
    margin: 0 850px 66px 0;
  }
}
