@use "base/variables.scss";

.filter {
  @media (min-width: variables.$width-desktop) {
    padding-top: 74px;
  }
}

.filter__text {
  font-family: variables.$oswald-font;
  color: variables.$color-black;
  text-transform: uppercase;
  margin: 0 50px 0 0;

  @media (min-width: variables.$width-tablet) {
    margin: 0 345px 66px 40px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: variables.$width-desktop) {
    margin: 0 850px 66px 0;
  }
}
