@use "base/variables.scss";
@use "base/mixins.scss" as *;

.form {
  font-size: 16px;

  @media (min-width: variables.$width-tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__label {
  font-family: variables.$oswald-font;
  text-transform: uppercase;
  display: flex;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: variables.$width-tablet) {
    margin-bottom: 20px;
  }

  &--radio {
    justify-content: flex-start;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  &--checkbox {
    justify-content: flex-start;
    align-items: center;

    @media (min-width: variables.$width-desktop) {
      margin-bottom: 0;
    }
  }


  &--desk {
    @media (min-width: variables.$width-desktop) {
      width: 569px;
      margin-bottom: 0;


      &:not(:last-child) {
        margin-right: 81px;
      }
    }
  }
}

.form__label svg {
  position: absolute;
  right: 13px;
}

.form__input {
  font-family: variables.$oswald-font;
  font-size: 16px;
  text-transform: uppercase;
  flex-grow: 1;
  margin-left: 13px;
  height: 45px;
  padding: 0;
  border-radius: 0;
  border: 1px solid #e7e7e7;

  &::placeholder {
    opacity: 1;
    color: variables.$color-grey-dark;
    padding: 14px 14px 0 15px;
  }

  &--textarea {
    min-height: 150px;
    margin: 0;
    width: 100%;
  }

  &--checkbox {
    margin-bottom: 13px;
  }

  &--email {
    padding-right: 41px;

    @media (min-width: variables.$width-desktop) {
      background-position: 464px 18px;
    }
  }

  &--phone {
    padding-right: 41px;

    @media (min-width: variables.$width-desktop) {
      background-position: 449px 15px;
    }
  }

  @media (min-width: variables.$width-tablet) {
    height: 52px;
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-radius: 0;
  }
}

.form__input:focus + .form__input-icon {
  stroke: variables.$color-green;
}

.form__radio-mark {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  margin-right: 10px;

  @media (min-width: variables.$width-tablet) {
    height: 40px;
    width: 40px;
  }
}

.form__radio-input:checked + .form__radio-mark::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: variables.$color-green;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: variables.$width-tablet) {
    height: 18px;
    width: 18px;
  }
}

.form__radio-input:hover[type="radio"] + .form__radio-mark {
  border: 1px solid #bababa;
}

.form__radio-input:disabled[type="radio"] + .form__radio-mark,
.form__radio-input:disabled[type="radio"] ~ .form__radio-text {
  opacity: 0.3;
}

.form__legend {
  font-family: variables.$oswald-font;
  font-size: 24px;
  line-height: 26px;
  color: variables.$color-black;
  font-weight: 400;
  background-color: variables.$color-white;
  padding: 0 20px;
  margin-left: -20px;
  display: inline-block;

  @media (min-width: variables.$width-tablet) {
    font-size: 36px;
    line-height: 36px;
  }

  &--owner {
    margin-bottom: 35px;
    width: 222px;

    @media (min-width: variables.$width-tablet) {
      min-width: max-content;
    }
  }

  &--comment {
    margin-bottom: 38px;
  }

  &--additionally {
    margin-bottom: 34px;
  }
}

.form__info {
  font-size: 14px;
  line-height: 16px;
  color: variables.$color-black;
  text-align: center;
}

.form__fieldset {
  @include list;
  margin-bottom: 24px;

  &--desk {
    @media (min-width: variables.$width-desktop) {
      width: 570px;

      &:not(:last-child) {
        margin-right: 80px;
      }
    }
  }

  &--cat {
    margin-bottom: 46px;

    @media (min-width: variables.$width-tablet) {
      margin-bottom: 72px;
    }
  }

  &--directions {
    margin-bottom: 45px;
  }

  &--owner {
    margin-bottom: 24px;
  }
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  border: none;
  width: 280px;
  margin-bottom: 21px;

  @media (min-width: variables.$width-tablet) {
    margin-right: 60px;
    width: 284px;
  }

  @media (min-width: variables.$width-desktop) {
    width: 570px;
  }
}

.form__legend--additionally-wrapper {
  @media (min-width: variables.$width-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: variables.$width-desktop) {
    display: flex;
  }
}

.form__button-wrapper {
  @media (min-width: variables.$width-tablet) {
    display: flex;
  }
}

.form-wrapper-desk {
  @media (min-width: variables.$width-desktop) {
    width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__wrapper--owner {
  @media (min-width: variables.$width-desktop) {
    display: flex;
    align-items: center;
  }
}

.form__wrapper--additionally {
  @media (min-width: variables.$width-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: variables.$width-desktop) {
    display: flex;
  }
}

.form__checkbox-mark {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  margin-right: 10px;
}

.form__checkbox-input:checked + .form__checkbox-mark::before {
  position: absolute;
  content: "";
  top: 15px;
  left: 3px;
  width: 11px;
  height: 2px;
  background-color: variables.$color-green;
  transform: rotate(45deg);
}

.form__checkbox-input:checked + .form__checkbox-mark::after {
  position: absolute;
  content: "";
  top: 13px;
  left: 9px;
  width: 18px;
  height: 2px;
  background-color: variables.$color-green;
  transform: rotate(-45deg);
}

.form__checkbox-input:hover[type="checkbox"] + .form__checkbox-mark {
  border: 1px solid #bababa;
}

.form__checkbox-input:disabled[type="checkbox"] + .form__checkbox-mark,
.form__checkbox-input:disabled[type="checkbox"] ~ .form__checkbox-text {
  opacity: 0.3;
}

.form__radio {
  @media (min-width: variables.$width-tablet) {
    border: 1px solid #e7e7e7;
    padding: 23px 0 27px 27px;
  }
}
