@use "base/variables.scss";
@use "base/mixins.scss" as *;

.form {
  font-size: 16px;
  padding-top: 39px;

  @media (min-width: variables.$width-tablet) {
    padding-top: 66px;
  }
}

.form__label {
  font-family: variables.$oswald-font;
  text-transform: uppercase;
  display: flex;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;

  @media (min-width: variables.$width-tablet) {
    margin-bottom: 20px;
  }

  @media (min-width: variables.$width-desktop) {
    display: block;
  }
}

.form__input {
  font-family: variables.$oswald-font;
  font-size: 16px;
  text-transform: uppercase;
  flex-grow: 1;
  margin-left: 13px;

  &::placeholder {
    opacity: 1;
    color: variables.$color-grey-dark;
  }

  &--radio {
    height: 30px;
    margin-bottom: 13px;

    @media (min-width: variables.$width-tablet) {
      font-size: 20px;
      line-height: 30px;
      height: 40px;
      margin-bottom: 18px;
    }
  }

  &--textarea {
    min-height: 150px;
    margin: 0;
    width: 100%;
  }

  &--checkbox {
    margin-bottom: 13px;
  }
}

.form__legend {
  font-family: variables.$oswald-font;
  font-size: 24px;
  line-height: 26px;
  color: variables.$color-black;
  font-weight: 400;
  margin: 0;
  display: flex;
  gap: 20px;

  @media (min-width: variables.$width-tablet) {
    gap: 28px;
  }

  @media (min-width: variables.$width-desktop) {
    gap: 40px;
  }

  &--owner {
    margin-bottom: 35px;
  }

  &--comment {
    margin-bottom: 38px;
  }

  &--additionally {
    margin-bottom: 34px;
  }

  &::before {
    content: "";
    height: 15px;
    width: calc(50% - 160px);
    border-bottom: 2px solid variables.$color-green;

    @media (min-width: variables.$width-tablet) {
      width: calc(50% - 427px);
    }

    @media (min-width: variables.$width-desktop) {
      width: calc(50% - 630px);
    }
  }

  &::after {
    content: "";
    height: 15px;
    width: 100%;
    border-bottom: 2px solid variables.$color-green;
  }
}

.form__info {
  font-size: 14px;
  line-height: 16px;
  color: variables.$color-black;
  text-align: center;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;

  &--cat {
    margin-bottom: 46px;

    @media (min-width: variables.$width-tablet) {
      margin-bottom: 72px;
    }
  }

  &--directions {
    margin-bottom: 45px;
  }

  &--owner {
    margin-bottom: 24px;
  }
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  border: none;
  width: 280px;
  margin: 0 auto;
}

.form__legend--additionally-wrapper {
  @media (min-width: variables.$width-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: variables.$width-desktop) {
    display: flex;
  }
}

.form__button-wrapper {
  @media (min-width: variables.$width-tablet) {
    display: flex;
  }
}

.form-wrapper-desk {
  @media (min-width: variables.$width-desktop) {
    width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__fieldset--desk {
  @media (min-width: variables.$width-desktop) {
    width: 570px;
  }
}

.form__wrapper--owner {
  @media (min-width: variables.$width-desktop) {
    display: flex;
  }
}

.form__wrapper--additionally {
  @media (min-width: variables.$width-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: variables.$width-desktop) {
    display: flex;
  }
}
