@use "base/variables.scss";

.gift {
  position: relative;
  background-image: url("../img/gift-background.png");
  background-color: variables.$color-green;
  background-repeat: no-repeat;
  border-top: 1px solid #cdcdcd;
  text-align: center;
  height: 294px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-background@2x.png");
    background-size: 320px auto;
  }

  @media (min-width: variables.$width-tablet) {
    background-image: url("../img/gift-background-tablet.png");
    height: 200px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-background-tablet@2x.png");
      background-size: 768px auto;
    }
  }

  @media (min-width: variables.$width-desktop) {
    height: 288px;
    background-image: url("../img/gift-background.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-background@2x.png");
      background-size: 320px auto;
    }
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    background-image: url("../img/icon-gift.svg");
    width: 78px;
    height: 80px;
    left: 96px;
    top: 63px;
  }
}

.gift__text {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 186px 62px 43px 58px;
  color: variables.$color-white;

  @media (min-width: variables.$width-tablet) {
    margin: 30px 111px 0 194px;
    padding: 47px 35px 1px 212px;
  }

  @media (min-width: variables.$width-desktop) {
    margin: 0;
    padding: 186px 30px 58px;
  }
}
