@use "base/variables.scss";

.hero {
  color: variables.$color-white;
  background-image: url("../img/promo-background.png"), linear-gradient(to bottom, #64a83d 63%, #ffffff 63%);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 27px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-background@2x.png"), linear-gradient(to bottom, #64a83d 100%, #ffffff 100%);
    background-size: auto 303px;
  }

  @media (min-width: variables.$width-tablet) {
    padding-top: 51px;
    padding-bottom: 487px;
    background-image: none;
    color: variables.$color-black;
  }

  @media (min-width: variables.$width-desktop) {
    background-image: url("../img/index-background-desktop.png"), linear-gradient(to right, #ffffff 50%, #64a83d 50%);
    background-position: top left calc(50% + 360px);
    margin-bottom: 42px;
    padding-bottom: 182px;
    background-size: auto 694px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-background@2x.png"), linear-gradient(to right, #ffffff 50%, #64a83d 50%);
    }
  }
}

.hero__text {
  font-family: variables.$oswald-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0 42px 29px 40px;

  @media (min-width: variables.$width-tablet) {
    margin: 0 335px 49px 90px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: variables.$width-desktop) {
    margin: 0 335px 54px 80px;
  }
}

.hero__img {
  display: block;
  margin-bottom: 3px;

  @media (min-width: variables.$width-tablet) {
    position: absolute;
    z-index: -1;
    top: 201px;
    right: 30px;
  }

  @media (min-width: variables.$width-desktop) {
    z-index: 2;
    top: 91px;
    right: 261px;
  }
}

.hero__button {
  @media (min-width: variables.$width-tablet) {
    width: 244px;
    margin: 0 0 0 90px;
  }

  @media (min-width: variables.$width-desktop) {
    margin: 0 0 0 80px;
  }
}

.hero__wrapper {
  position: relative;
}
