@use "base/variables.scss";

.logo {
  display: flex;
  align-items: center;

  @media (min-width: variables.$width-desktop) {
    background-color: transparent;
  }
}

.logo__logo-image {
  display: block;
  margin-right: 56px;

  @media (min-width: variables.$width-tablet) {
    height: 50px;
  }

  @media (min-width: variables.$width-desktop) {
    height: 59px;
    margin-right: 13px;
  }
}

.logo__logo-text {
  display: block;


  @media (min-width: variables.$width-desktop) {
    height: 21px;
  }
}

