@use "base/variables.scss";

.main-header {
  @media (max-width: variables.$width-mobi-only) {
    border-bottom: 1px solid variables.$color-border;
  }

  @media (min-width: variables.$width-desktop) {
    position: relative;
    width: 1300px;
    padding: 0 110px;
    margin: 0 auto;
  }
}

.main-header__container {
  @media (min-width: variables.$width-tablet) {
    width: 768px;
    padding: 12px 30px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: variables.$width-desktop) {
    width: 1300px;
    position: absolute;
    top: 30px;
    left: 9px;
    z-index: 3;
  }
}

.main-header__wrapper {
  min-height: 65px;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;


  @media (min-width: variables.$width-tablet) {
    width: auto;
    padding: 0;
    margin: 0;
  }
}

.main-header__logo {
  padding: 13px 0 14px;
}
