@use "base/variables.scss";
@use "base/mixins.scss" as *;

.main-footer {
  position: relative;
}

.main-footer__title {
  font-family: variables.$oswald-font;
  font-size: 16px;
  line-height: 20px;
  color: variables.$color-black-light;
  text-transform: uppercase;
  width: 140px;
  margin: 0;

  @media (min-width: variables.$width-tablet) {
    font-size: 20px;
    line-height: 26px;
  }
}

.main-footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  width: 140px;

  @media (min-width: variables.$width-tablet) {
    text-align: right;
  }

  @media (min-width: variables.$width-desktop) {
    text-align: left;
  }
}

.main-footer__cooperation {
  padding: 26px 0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;


  &--index {
    background-color: variables.$color-white;
  }

  @media (min-width: variables.$width-tablet) {
    padding: 61px 40px;
    width: 628px;
  }

  @media (min-width: variables.$width-desktop) {
    width: 565px;
    background-color: variables.$color-white;
    position: absolute;
    z-index: 1;
    top: 91px;
    left: 113px;
  }
}

.main-footer__map {
  display: block;
  margin: auto;
}

.main-footer__logo {
  display: block;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid variables.$color-border;
  margin-bottom: 20px;

  @media (min-width: variables.$width-tablet) {
    padding: 0;
    border-bottom: none;
    margin-bottom: 0;
  }
}

.main-footer__container {
  background-color: variables.$color-grey-light;

  @media (min-width: variables.$width-tablet) {
    padding: 61px 0;
  }

  @media (min-width: variables.$width-desktop) {
    padding: 66px 0;
  }
}

.main-footer__social {
  @media (min-width: variables.$width-tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


.main-footer__map-iframe {
  border: none;
  display: block;
  height: 362px;
  width: 100%;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 362px;

  @media (min-width: variables.$width-tablet) {
    height: 400px;
  }
}
