@use "base/variables.scss";

.main-header {
  position: relative;

  @media (min-width: variables.$width-tablet) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.header__container {
  @media (min-width: variables.$width-tablet) {
    width: 768px;
    padding: 25px 30px 0;
    margin: 0 auto;
    display: flex;
  }

  @media (min-width: variables.$width-desktop) {
    width: 1300px;
    padding: 55px 40px 0;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

.main-header__wrapper {
  min-height: 69px;
}

.main-header__logo {
  padding: 13px 0 14px;
}
