@use "base/variables.scss";

.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: variables.$color-white;
  top: -46px;
  right: 21px;
  z-index: 2;
  padding: 0;
  border: none;

  @media (min-width: variables.$width-tablet) {
    display: none;
  }
}

.main-nav--closed .main-nav__span {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  top: 11px;
  right: 0;
  background-color: variables.$color-black;
}

.main-nav--closed .main-nav__span::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  top: -8px;
  right: 0;
  background-color: variables.$color-black;
}

.main-nav--closed .main-nav__span:active {
  opacity: 30%;
}

.main-nav--closed .main-nav__span::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  top: 8px;
  right: 0;
  background-color: variables.$color-black;
}

.main-nav--closed .main-nav {
  display: none;
}

.main-nav--opened .main-nav__span {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 1px;
    width: 20px;
    height: 2px;
    background-color: variables.$color-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    opacity: 30%;
  }
}

.main-nav--opened .main-nav__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 320px;
  z-index: 2;
}

@media (max-width: variables.$width-mobi-only) {
  .main-nav--closed .navigation-list {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
