@use "base/variables.scss";

.main-header__wrapper {
  @media (min-width: variables.$width-tablet) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
