@use "base/variables.scss";
@use "base/mixins.scss" as *;

.main-footer__title {
  font-family: variables.$oswald-font;
  font-size: 16px;
  line-height: 20px;
  color: variables.$color-black-light;
  text-transform: uppercase;
  width: 140px;
  margin: 0;

  @media (min-width: variables.$width-tablet) {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
    padding-top: 2px;
  }
}

.main-footer__cooperation {
  background-color: variables.$color-grey-light;

  &--index {
    background-color: variables.$color-white;
  }


  @media (min-width: variables.$width-desktop) {
    position: relative;
  }
}

.main-footer__cooperation-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;

  @media (min-width: variables.$width-tablet) {
    padding: 61px 40px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: variables.$width-desktop) {
    position: absolute;
    background-color: variables.$color-white;
    width: 565px;
    z-index: 1;
    top: 93px;
    left: 41px;
    padding: 62px 79px 60px;
  }
}

.main-footer__map {
  display: block;
  margin: auto;
}

.main-footer__logo {
  display: block;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid variables.$color-border;
  margin-bottom: 22px;

  @media (min-width: variables.$width-tablet) {
    padding: 0;
    border-bottom: none;
    margin-bottom: 0;
    margin-right: 38px;
  }
}

.main-footer__cooperation-container {
  position: relative;
}

.main-footer__container {
  background-color: variables.$color-grey-light;
  padding-bottom: 40px;

  @media (min-width: variables.$width-tablet) {
    padding: 56px 0;
  }

  @media (min-width: variables.$width-desktop) {
    padding: 68px 0;
  }
}

.main-footer__social {
  @media (min-width: variables.$width-tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.main-footer__map-iframe {
  border: none;
  display: block;
  height: 362px;
  width: 100%;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 362px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map@2x.jpg");
  }

  @media (min-width: variables.$width-tablet) {
    background-image: url("../img/map-tablet.jpg");
    background-size: 768px 400px;
    height: 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: variables.$width-desktop) {
    background-image: url("../img/map-desk.jpg");
    background-size: 1440px 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desk@2x.jpg");
    }
  }
}
