@use "base/variables.scss";
@use "base/mixins.scss" as *;

.navigation-list {
  @include list;
  font-family: variables.$oswald-font;

  @media (min-width: variables.$width-tablet) {
    font-size: 18px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 436px;
  }

  @media (min-width: variables.$width-desktop) {
    display: flex;
    width: 475px;
  }
}

.navigation-list__link {
  color: variables.$color-black;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
