@use "base/variables.scss";
@use "base/mixins.scss" as *;

.navigation-list {
  @include list;
  font-family: variables.$oswald-font;


  @media (min-width: variables.$width-tablet) {
    font-size: 18px;
    line-height: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 436px;
    margin-right: 5px;
  }

  @media (min-width: variables.$width-desktop) {
    font-size: 18px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 475px;
    margin-right: 21px;
  }
}

.navigation-list__link {
  position: relative;
  display: block;
  color: variables.$color-black;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 24px;
  background-color: variables.$color-white;

  @media (max-width: variables.$width-mobi-only) {
    border-top: 1px solid variables.$color-card-border;
  }

  &:hover {
    opacity: 60%;
  }

  @media (min-width: variables.$width-tablet) {
    padding-top: 28px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: variables.$width-desktop) {
    font-size: 20px;
    line-height: 30px;
    background-color: transparent;
  }

  &--main-desk {
    @media (min-width: variables.$width-desktop) {
      color: variables.$color-white;
    }
  }
}

.navigation-list__item--current {
  position: relative;

  @media (min-width: variables.$width-tablet) {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 16px;
      left: 0;
      height: 2px;
      background: variables.$color-green;
    }
  }

  @media (min-width: variables.$width-desktop) {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 16px;
      left: 0;
      height: 2px;
      background: variables.$color-green;
    }
  }
}

.navigation-list__item--current-desk {
  @media (min-width: variables.$width-desktop) {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 16px;
      left: 0;
      height: 2px;
      background: variables.$color-white;
    }
  }
}
