@use "base/variables.scss";
@use "base/mixins.scss" as *;

.result {
  @include list;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 35px;

  @media (min-width: variables.$width-tablet) {
    width: 367px;
    gap: 43px;
  }

  @media (min-width: variables.$width-desktop) {
    margin-bottom: 61px;
  }
}

.result__item {
  position: relative;
  width: 124px;
  text-align: center;

  @media (min-width: variables.$width-tablet) {
    width: 162px;
  }
}

.result__value {
  display: block;
  font-family: variables.$oswald-font;
  font-size: 24px;
  line-height: 24px;
  color: variables.$color-black;
  font-weight: 400;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding: 15px 17px;

  @media (min-width: variables.$width-tablet) {
    font-size: 30px;
    line-height: 37px;
    padding: 17px 17px;
  }

  @media (min-width: variables.$width-desktop) {
    padding: 15px 15px;
  }
}

.result__description {
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  background-color: variables.$color-background-grey;
  padding: 0 8px;
  margin: 0 auto;
  top: 46px;
  left: 25px;
  width: 70px;
  z-index: 2;

  @media (min-width: variables.$width-tablet) {
    font-size: 14px;
    line-height: 14px;
    background-color: variables.$color-white;
    top: 64px;
    left: 9px;
    padding: 0 8px;
    width: 142px;
  }

  @media (min-width: variables.$width-desktop) {
    background-color: variables.$color-background-grey;
  }

  &--weight {
    @media (min-width: variables.$width-tablet) {
      width: 117px;
      transform: translate(11%, 10%);
      top: 63px;
    }
  }
}
