@use "base/variables.scss";

.result {
  width: 124px;
  text-align: center;
}

.result__value {
  font-family: variables.$oswald-font;
  font-size: 24px;
  line-height: 24px;
  color: variables.$color-black;
  font-weight: 400;

  @media (min-width: variables.$width-tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.result__description {
  font-size: 12px;
  line-height: 12px;
}
