@use "base/variables.scss";
@use "base/mixins.scss" as *;

.slider {
  height: 256px;
  width: 280px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  @media (min-width: variables.$width-tablet) {
    height: 512px;
    width: 560px;
  }
}

.slider__before {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  overflow: hidden;
  background-color: variables.$color-background-grey;
  z-index: 1;


  @media (min-width: variables.$width-tablet) {
    background-image: linear-gradient(variables.$color-white 122px, variables.$color-background-grey 122px);
  }

  @media (min-width: variables.$width-desktop) {
    background-image: linear-gradient(variables.$color-white 131px, variables.$color-background-grey 131px);
  }
}

.slider__image--before {
  max-width: none;
}

.slider__wrap {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 98px;
  left: 119px;
  border: 2px solid #666666;
  border-radius: 50%;
  background-color: variables.$color-white;
  text-align: center;
  padding: 0;
  z-index: 3;



  &:active {
    border: 2px solid variables.$color-green;
    opacity: 0.6;
  }

  @media (min-width: variables.$width-tablet) {
    top: 218px;
    left: -17px;
  }
}

.slider__button-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  width: 4px;
  height: 254px;
  background-color: #666666;
  border-radius: 2px;
  z-index: 1;
  border: 0;
  left: 137px;

  @media (min-width: variables.$width-tablet) {
    height: 505px;
    left: 279px;
  }

  &:hover {
    background-color: variables.$color-green;
  }

  &:hover .slider__arrow {
    fill: variables.$color-green;
  }

  &:hover .slider__wrap {
    border: 2px solid variables.$color-green;
  }

  &:active {
    opacity: 0.6;
  }
}

.slider__arrow {
  transform: translate(0%, 50%);
  fill: #666666;
}
