@use "base/variables.scss";
@use "base/mixins.scss" as *;


.social {
  @include list;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
  padding-bottom: 16px;
  margin-bottom: 21px;

  border-bottom: 1px solid variables.$color-border;

  @media (min-width: variables.$width-tablet) {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 6px;
  }
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
  text-align: center;
}

.social__icon {
  fill: #666666;
}

.social__link:hover .social__icon {
  fill: variables.$color-green;
}

.social__link:active .social__icon {
  fill: variables.$color-green;
  opacity: 0.3;
}
