@use "base/variables.scss";

.tittle {
  font-family: variables.$oswald-font;
  font-size: 36px;
  line-height: 36px;
  color: variables.$color-black;
  font-weight: 400;
}

.tittle--white {
  color: variables.$color-white;
}
