@use "base/variables.scss";

body {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  background-color: variables.$color-white;

}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

