$oswald-font: "Oswald", "Arial", sans-serif;
$lato-font: "Lato", "Arial", sans-serif;
$color-white: #ffffff;
$color-black: #000000;
$color-green:  #68b738;
$color-grey-dark: #444444;
$color-black-light:#111111;
$color-grey-light: #f2f2f2;
$color-black-lighter: #222222;
